<%= render "shared/admin_nav" %>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>


<p>
  <strong>Image</strong>
  <%= image_tag(@image.picture_url) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
